# Allow up and down to search the history
"\e[A": history-search-backward
"\e[B": history-search-forward

# Set command line interfaces to vi editing mode (default is emacs)
#set editing-mode vi
#set keymap vi
#set convert-meta on

# glob patterns without executing, eg: 'rm *x'
"\ee": glob-expand-word

"\e[C": forward-char
"\e[D": backward-char

# Disable expanding ~ into home directory
set expand-tilde off
