export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export HISTFILE="$XDG_DATA_HOME/zsh/history"

export EDITOR="nvim"

export ASDF_DATA_DIR="$XDG_DATA_HOME/asdf"

{{ if eq .chezmoi.os "darwin" -}}
if [ -x /usr/libexec/path_helper ]; then
    eval `/usr/libexec/path_helper -s`
fi
eval $(/usr/local/bin/brew shellenv)
{{- end  }}

export GOPATH="$HOME/development/go"
export path=("$GOPATH/bin" $path)

export path=("$HOME/.local/bin" $path)

if (( $+commands[repassh] )); then
    export GIT_SSH="repassh"
fi


# vi: filetype=zsh
