alias e='eza --group-directories-first'
alias el='e -gl'
alias ea='e -a'

{{ if eq .chezmoi.os "darwin" -}}
alias ls='ls -G'
{{- else }}
alias ls='ls --color=auto'
{{- end }}
alias ll='ls -l'
alias la='ls -A'
alias lr='ls -R'
alias lla='ls -lA'
alias llh='ls -lh'
alias llr='ls -lR'
alias llar='ls -lAR'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

if (( $+commands[repassh] )); then
    alias ssh='repassh'
    alias scp='BINARY_SSH=scp repassh'
    alias rsync='BINARY_SSH=rsync repassh'
fi

alias lg='lazygit'

# vi: filetype=zsh
