font_family Droid Sans Mono Slashed for Powerline
font_size 12.0
{{- if .hasretinadisplay }}
macos_thicken_font 0.4
{{- else }}
macos_thicken_font 0.75
{{- end }}

scrollback_lines 5000

mouse_hide_wait -1.0

copy_on_select yes

strip_trailing_spaces auto

enable_audio_bell no
visual_bell_duration 0.025

remember_window_size no
initial_window_width 120c
initial_window_height 50c

tab_bar_edge top
tab_bar_style fade

macos_titlebar_color system
macos_show_window_title_in window

shell /usr/local/bin/xonsh

allow_remote_control yes

include base16-eighties-256.conf

map kitty_mod+t new_tab_with_cwd !neighbor
map super+t new_tab_with_cwd !neighbor
