font_family JetBrainsMono Nerd Font
font_size 12.0

window_padding_width 1.5 4.5 3.0

scrollback_lines 10000

mouse_hide_wait -1.0

copy_on_select yes

strip_trailing_spaces smart

enable_audio_bell no
visual_bell_duration 0.025

remember_window_size yes

tab_bar_edge top
tab_bar_style fade

enabled_layouts tall:mirrored=true, tall:mirrored=false

{{ if eq .chezmoi.os "darwin" -}}
macos_show_window_title_in window
macos_option_as_alt both

{{ if eq .chezmoi.arch "arm64" -}}
shell /opt/homebrew/bin/zsh
{{- else }}
shell /usr/local/bin/zsh
{{- end }}
{{- end }}
shell_integration no-title

allow_remote_control yes

map kitty_mod+t launch --type=tab --cwd=oldest --location=neighbor
map kitty_mod+s launch --type=tab
map kitty_mod+enter launch --cwd=oldest
map super+t launch --type=tab --cwd=oldest --location=neighbor

# moves the window into the tab at the left of the active tab
map f2 detach_window tab-left
# moves the window into the previously active tab
map f3 detach_window tab-prev
# moves the window into a new tab
map f4 detach_window new-tab
# asks which tab to move the window into
map f5 detach_window ask

# BEGIN_KITTY_THEME
include current-theme.conf
# END_KITTY_THEME
