font_family JetBrainsMono Nerd Font
font_size 12.0
{{- if .hasretinadisplay }}
macos_thicken_font 0.1
{{- else }}
macos_thicken_font 0.2
{{- end }}

window_padding_width 1.5 4.5 3.0

scrollback_lines 10000

mouse_hide_wait -1.0

copy_on_select yes

strip_trailing_spaces smart

enable_audio_bell no
visual_bell_duration 0.025

remember_window_size yes

tab_bar_edge top
tab_bar_style fade

enabled_layouts tall:mirrored=true, tall:mirrored=false

{{ if eq .chezmoi.os "darwin" -}}
macos_titlebar_color system
macos_show_window_title_in window
macos_option_as_alt right

{{ if eq .chezmoi.arch "arm64" -}}
shell /opt/homebrew/bin/zsh
{{- else }}
shell /usr/local/bin/zsh
{{- end }}
{{- end }}

allow_remote_control yes

include base16-eighties-256.conf

map kitty_mod+t new_tab_with_cwd !neighbor
map kitty_mod+enter launch --cwd=current
map super+t new_tab_with_cwd !neighbor


# BEGIN_KITTY_THEME
# Base-16 Eighties 256-color
include current-theme.conf
# END_KITTY_THEME
