[user]
	email = {{ .email }}
	name = Chris Lasher
[color]
	ui = auto
[core]
	autocrlf = input
	pager = less -RX
[github]
	user = gotgenes
[alias]
	ci = commit
	; Superb log aliases adapted from
	; http://www.jukie.net/bart/blog/pimping-out-git-log
	logs = log --decorate --stat
	log1 = log --oneline --decorate
	glog = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --date-order
	pushup = push -u origin HEAD
[pull]
	rebase = false
[push]
	default = simple
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
