# vi: ft=gitconfig

[user]
	email = {{ .email }}
	name = Chris Lasher
[color]
	ui = auto
[core]
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = collared-trogon
	syntax-theme = "Catppuccin"
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[status]
	submodulesummary = 1
[diff]
	colorMoved = default
[alias]
	ci = commit
	; Superb log aliases adapted from
	; http://www.jukie.net/bart/blog/pimping-out-git-log
	logs = log --decorate --stat
	log1 = log --oneline --decorate
	glog = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --date-order
[submodule]
	recurse = true
[pull]
	rebase = false
[push]
	default = simple
	autoSetupRemote = true
	recurseSubmodules = check
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
