[user]
	email = {{ .email }}
	name = Chris Lasher
[color]
	ui = auto
[core]
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = collared-trogon
	syntax-theme = "Catppuccin Macchiato"
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictStyle = diff3
[status]
	submoduleSummary = true
[diff]
	colorMoved = default
[alias]
	ci = commit
	; Superb log aliases adapted from
	; http://www.jukie.net/bart/blog/pimping-out-git-log
	logs = log --decorate --stat
	log1 = log --oneline --decorate
	glog = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --date-order
	pp = pull --prune
	fp = fetch --prune
[submodule]
	recurse = true
[pull]
	rebase = false
[push]
	default = simple
	autoSetupRemote = true
	recurseSubmodules = check
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	{{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{- else }}
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
	{{- end }}
[credential "https://gist.github.com"]
	helper = 
	{{ if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{- else }}
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
	{{- end }}
