use strict;
use warnings;

load_plugin qw(
    Colors
    Completion
    CompletionDriver::Globals
    CompletionDriver::INC
    CompletionDriver::LexEnv
    CompletionDriver::Keywords
    CompletionDriver::Methods
    DDC
    DumpHistory
    LexEnv
    MultiLine::PPI
    ReadLineHistory
    Refresh
    ShowClass
);
